/* adds Raleway font to entire page -- change if needed or messes with teammates styling  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;800&display=swap');



main {
    font-family: 'Raleway', sans-serif;
}


/* style for image of country on individual country pages */
.countryImage {
    display: flex;
    max-width: 100%;
    max-height: auto;
    justify-content: center;
    padding: 1.75em;
}

.countryImage img {
    border-radius: 25px;
    max-width: 50%;
    max-height: auto;
}


/* Styling of list boxes & h3 heading -- Ember's team assignment  */
.countryFlexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px, dashed, blue;
}


.countryMainBlock h1 {
    /* flex: 12; */
    text-align: center;
    color: #262322;
    margin: auto;
}


.countryCard {
    flex: 4;
    margin: 0.5em;
    width: 20%;
    padding: 0.5em 1.5em;
    border: 2px solid #317BCD;
    background-color: #eaf1f8;
    flex-flow: column;
    align-self: center;
    max-width: 50em;
    min-width: 20em;
    height: auto;
}

.countryCard:hover {
    background-color: #317BCD;
    border: 3px solid #173B74;
}

.countryCard ul {
    margin: -0.25em -1em 0.75em -1em;
    padding: -1em auto;
}

.countryCard li {
    color: #262322;
    padding: 0.25em;
}

.countryCard h3 {
    color: #173b74;
    margin: 0.75em auto;
}

